version: "3.7"
services:
  app:
    build:
      args:
        user: sammy
        uid: 1000
      context: ./
      dockerfile: Dockerfile
    image: fulltrade
    container_name: fulltrade-app
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./:/var/www
    networks:
      - fulltrade

  db:
    image: mysql:5.7
    container_name: fulltrade-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - ./docker-compose/mysql:/docker-entrypoint-initdb.d
    networks:
      - fulltrade
  
  phpmyadmin:
    image: phpmyadmin:latest
    env_file:
      - .env
    environment:
      PMA_HOST: "${DB_HOST}"
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
    ports:
      - '8082:80'
    volumes:
      - ./docker-compose/mysql/phpmyadmin.ini:/usr/local/etc/php/conf.d/phpmyadmin.ini
    depends_on:
      - db
    networks:
      - fulltrade

  nginx:
    image: nginx:alpine
    container_name: fulltrade-nginx
    restart: unless-stopped
    ports:
      - 8000:80
    volumes:
      - ./:/var/www
      - ./docker-compose/nginx:/etc/nginx/conf.d/
    networks:
      - fulltrade

networks:
  fulltrade:
    driver: bridge